$gray1: #4d4d4d;
$gray2: #252525;
$gray3: #333;
$jet-red: #940919;
$off-white: #f8f8f2;
$white: #ffffff;
$cyan: #9CE1F0;
$green1: #566e5c;
$default-font: 'Nerd Font Hack';
$font-size1: 14px;
$border-radius: 8px;

$default-spacing: 8px 8px;
$default-padding: 0 16px;